.post__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0;
    height: max-content;
    overflow-y: auto;
}