.post__item {
    display: grid;
    grid-template-areas: 
        "image header"
        "image content"
        "image footer"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 60px;
    aspect-ratio: 1.6 / 1;
    height: 500px;
    border: none;
    box-shadow: 0 0 5px #000;
    border-radius: 15px;
    background-color: rgb(236, 236, 234);
    overflow: hidden;

    .post__header {
        position: relative;
        grid-area: header;
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: auto;
        height: auto;
        //border-left: 2px solid #333;
        //border-bottom: 2px dotted #333;
        //border-bottom-left-radius: inherit;
    }

    .images {
        grid-area: image;
        width: auto;
        height: auto;
        border-radius: inherit;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        //border-right: 2px dotted #333;
        overflow: hidden;

        img {
            aspect-ratio: 1 / 1;
            height: 100%;
            object-fit: cover;
        }
    }
    .content {
        grid-area: content;
        display: flex;
        width: auto;
        height: auto;
        padding: 10px;
        border-bottom: 2px dotted #333;
        border-top: 2px dotted #333;
        overflow-y: hidden;
    }
    .footer {
        grid-area: footer;
        display: flex;
        width: auto;
        height: auto;
        padding: 10px;
        //background-color: rgb(170, 196, 221);
        //border-left: 2px solid #333;
        //border-bottom: 2px solid #333;
        overflow-y: hidden;
    }
}