.post__item {
    display: grid;
    grid-template-areas: 
        "image header"
        "image content"
        "image footer"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 60px;
    aspect-ratio: 1.6 / 1;
    height: 500px;
    border: none;
    box-shadow: 0 0 5px #000;
    border-radius: 15px;
    background-color: rgb(236, 236, 234);
    overflow: hidden;

    .post__header {
        position: relative;
        grid-area: header;
        display: grid;
        grid-template: 1fr / 50px 50px;
        align-items: center;
        justify-items: start;
        gap: 5px;
        padding-inline: 10px;
        width: auto;
        height: auto;

        img.avatar {
            display: block;
            border-radius: 50%;
            height: 80%;
            aspect-ratio: 1 / 1;
        }
    }

    .images {
        grid-area: image;
        width: auto;
        height: 100%;
        border-radius: inherit;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;

        img {
            aspect-ratio: 1 / 1;
            height: 100%;
            object-fit: cover;
        }
    }
    .content {
        grid-area: content;
        display: flex;
        width: auto;
        height: auto;
        padding: 10px;
        border-bottom: 2px dotted #333;
        border-top: 2px dotted #333;
        overflow-y: hidden;
    }
    .footer {
        grid-area: footer;
        display: grid;
        grid-template: 1fr / repeat(2, 60px) auto;
        place-items: center start;
        width: auto;
        height: auto;
        padding-inline: 5%;
        overflow-y: hidden;

        * {
            display: block;
            height: 60%;
            aspect-ratio: 1 / 1;

            &:hover {
                filter: invert(50%);
                cursor: pointer
            }
            &:last-child {
                justify-self: end;
            }
        }
    }
}